body {
    background-image: url('../img/mountains.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.image-credit {
    position: fixed;
    bottom: 0;
    color: #999999;
}
