{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FindNewFriends">
    <meta name="author" content="Xaver, Linus, Jonathan, Ludwig">

    <title>FindNewFriends</title>
    <link href="{% static 'fnf/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{% static 'fnf/css/login_register.css' %}" rel="stylesheet">
    <script src="{% static 'fnf/js/popper.min.js' %}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> 
    <script src="{% static 'fnf/js/bootstrap.min.js' %}" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href=".">Find New Friends</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    {% block navbar %}
                    {% endblock %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#" role="button" class="btn btn-outline-success">Login</a>
                    </li>
                </ul>
                
            </div>   
        </div>
    </nav>

    <br>
    <br>
    
    {% block content %}
    {% endblock %}
    <div class="container-fluid image-credit">
        <p>Bild von <a href="https://pixabay.com">Pixabay</a></p>
    </div>

</body>
</html>
