{% extends "fnf/base.html" %}

{% block content %}
<div class="container" d-flex justify-content-center > 
    <h1 class="display-4" style="color:#FFFFFF">Alpakas</h2>
    <br>

    <div class="card">
        <div class="card-body">        
            <table class="table">
                <thead>
                    <tr>
                        <th>Hobby</th>
                        <th>Alpakas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hobby in hobbies %}
                        <tr>
                            <td>
                                {{ hobby.name }}
                            </td>
                            <td>
                                {% for user in hobby.user_hobby.all %}
                                    {{ user.username }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>


{% endblock %}