{% extends "fnf/base.html" %}

{% load widget_tweaks %}

{% block content %}

<br>
<br>

<div class="container">

    <form method="post">
        {% csrf_token %}
        <div class="col-md-5">

            <h1 class="display-4" style="color:#FFFFFF">Login</h2>
            <br>

            <div class="input-group input-group-md">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Username</span>
                </div>
                <!-- <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                {{form.username | add_class:"form-control"}}
            </div>
            <br>

            <div class="input-group input-group-md">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
                </div>
                <!-- <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"> -->
                {{form.password | add_class:"form-control"}}
            </div>
            <br>

            {% if is_error %}

                <div class="alert alert-danger" role="alert">
                   An error occured while trying to sign you in
                </div>

            {% endif %}

            <p style="color:#FFFFFF">Du hast noch keinen Account? <a href="register.html">Hier registrieren.</a></p>

            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
</div>

<div class="container-fluid image-credit">
    <p>Bild von <a href="https://pixabay.com">Pixabay</a></p>
</div>
<br>

{% endblock %}

