{% extends "fnf/base.html" %}

{% block content %}

<br>
<br>

<div class="container">
    <form>
        <div class="col-md-5">

            <h1 class="display-4" style="color:#FFFFFF">Registrieren</h2>
            <br>

            <div class="input-group input-group-md">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <br>
            
            <div class="input-group input-group-md">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Passwort</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <br>

            <div class="input-group input-group-md">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Wiederholen</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <br>

            <div class="input-group input-group-md">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Benutzername</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <br>

            <p style="color:#FFFFFF">Hast du schon einen Account? <a href="./login.html">Hier anmelden.</a></p>

            <button type="button" class="btn btn-success">Registrieren</button>
        </div>
    </form>
</div>

<div class="container-fluid image-credit">
    <p>Bild von <a href="https://pixabay.com">Pixabay</a></p>
</div>
<br>

{% endblock %}
